/* Global */
*{
margin:0;
padding:0;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.page {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* navbar */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 1.2em;
  font-weight: bold;
}

.nav-item {
  margin-left: 1em;
}

nav {
  border-bottom: solid;
  border-width: 2px;
  border-color: #86a6ae;
}

/* Index page */
#main_idx {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #86a6ae;
}

#idx_img {
  display: flex;
  justify-content: center;
  max-height: 90%;
  width: 30%;
  align-items: center;
}

#my_img {
  max-width: 85%;
  height: auto;
}

#textBloc {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#aboutMeTxt {
  width: 80%;
  height: auto;
  margin-bottom: 2em;
  margin-left: 4em;
  padding: 1em;
}

a {
  color: #86a6ae;
}

a:hover {
  text-decoration: none;
}

/* Footer */
.contact {
  border-top: solid;
  border-width: 2px;
  border-color: #86a6ae;
  text-align: center;
  font-size: 1.1em;
  background-color: #efeff2;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.linkIcon {
  margin-left: 1em;
  margin-right: 1em;
}

/* Projects */
#main_projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin: auto;
}

#main_projects h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 100%;
}

.projets {
  display: flex;
  flex-direction: row;
  padding: 1em;
  padding-top: 4em;
  padding-bottom: 4em;
  border-top: solid;
  border-width: 1px;
  border-color: #86a6ae;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.p_img_div {
  width: 30%;
  height: auto;
  margin-left: 2em;
  max-height: 100%;
}

.p_img {
  max-width: 80%;
  height: auto;
}

.p_descr {
  width: 70%;
}

.p_text {
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  text-align: justify;
}

#p_template {
  display: none;
}
