/* Index page */
#main_idx {
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
}

#textBloc, #idx_img {
  margin-left: auto;
  margin-right: auto;
}

#idx_img, #textBloc {
  margin-top: 1em;
}

#idx_img {
  margin-bottom: 1em;
}

#textBloc {
  width: 90%;
}
